body {
    display: flex;
    flex-direction: column;
    background-color: hsla(660, 20%, 20%, .8);
    padding: 0px;
    margin: 0px;
}

/* header section */

.header {
    background-color: hsla(680, 20%, 20%, .6);
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: hsla(700, 80%, 80%, .8);
    padding: 16px;
    padding-left: 100px;
    padding-right: 100px;
}

.links {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding: 0px;
    margin: 0px;
}

/* title section */

.container-title {
    display: flex;
    background-color: hsla(680, 20%, 20%, .6);
    color: hsla(700, 80%, 80%, .8);
    gap: 100px;
    padding: 72px;
    padding-left: 100px;
    padding-right: 100px;
}

.title-left {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 4px;
}

.title {
    font-size: 32px;
}

.title-subtext {
    font-size: 16px;
}

.title-button {
    width: 100px;
    height: 25px;
    background-color: hsla(380, 80%, 80%, .8);
}

.title-image {
    width: 360px;
    height: 160px;
}

/* information section */

.container-information {
    display: flex;
    flex-direction: column;
    color: hsla(700, 80%, 80%, .8);
    padding: 48px;
}

.information-title {
    align-self: center;
}
  
.information {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
    padding: 32px;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 4px solid hsla(660, 20%, 20%, .8);
}

.text {
    width: 150px;
    text-align: center;
}